@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
} 

h1 {
    text-align: center;
    color: #2e0e34;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* NAV */
nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}
nav ul li {
    padding: 5px;
    font-size: 20px;
}
nav ul li:hover {
    background-color: #eee;
}
nav ul li a {
    color: #2e0e34;
}

/* FOTO */
#foto {
    border: 2px solid #2e0e34;
    border-radius: 100px;
    display: block;
    margin: auto;
}

/* TECNOLOGIAS*/
#tecnologias {
    width: 450px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;

    margin-top: 180px;
}
#tecnologias h2 {
    text-align: center;
}
#tecnologias ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#tecnologias ul li img {
    width: 50px;
}

/* CONTATOS */
#contatos {
    margin: auto;
    margin-top: 50px;
    width: 450px;

    margin-top: 200px;
}
#contatos li {
    padding: 10px;
    margin: 10px;

    border-radius: 20px;
    background-color: #ccc;

    font-size: 18px;
    text-align: center;
}
#contatos a {
    color: #000;
}

/* SOBRE MIM */
#sobre-mim {
    width: 450px;
    margin: auto;
    text-align: justify;

    margin-top: 180px;
}
#sobre-mim img {
    width: 200px;
    display: block;
    margin: auto;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #aaa;
    margin-top: 200px;
    height: 100px;
    color: white;
}

@media(max-width:450px) {
    /* NAV */
    nav ul {
        justify-content: center;
        
    }
    nav ul li {
        font-size: 17px;
    }

    /* TECNOLOGIAS*/
    #tecnologias {
        width: 100%;
    }

    /* SOBRE MIM */
    #sobre-mim {
        width: auto;
    }
    #sobre-mim img {
        width: 150px;
    }

    /* CONTATOS */
    #contatos {
        width: 100%;
    }
}